:root .content {
  font-family: "Gotham Rounded";
}


body table {
  color: #183642;
  font-family: "Gotham Rounded";
  background-color: #f2f3f7;
}


button {
  width: 100%;
  margin-bottom: 50px;
}

table {
  width: 100%;
}

